.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content:center;
}

.wip {
//position: absolute;
width: 400px;
min-height: calc(100vh - 80px);
// left: 0;
margin-top:30px;
float: left;
border:2px solid #ddd;
background:white;
}
.inProgess{
//   position: absolute;
width:400px;
min-height: calc(100vh - 80px);
float: left;
border:2px solid #ddd;
background:white;
margin:0 30px;
margin-top:30px;
}


.task-header {
  display: inline-block;
  width:100%;
  background: $blue;
  color:white;
  padding: 15px;
  font-weight: 700;
  font-size: 20px;

}

.droppable {
  float: left;
// position: absolute;
width: 400px;
min-height: calc(100vh - 80px);
// right: 0;
//
border:2px solid #ddd;
background:white;
margin-top:30px;
}

.draggable {
  width: 300px;
  box-shadow: 0 0 14px grey;
  border-radius: 10px;
  margin: 15px auto;
  line-height: 5em;
  cursor: pointer;
  background: white;
  .btn-style{
    height: 20px;
    display: inline;
    font-size: 10px;
    font-weight: 600;
    margin-top:10px;
    &:hover{
      color: white;
    }
  }
  &:hover{
    box-shadow: 0 0 14px $blue;
  }
  div{
    height: 20px;
  }


}

.title-sm{
  font-weight: 600;
  color:$blue;
}