.btn-style{
  font-size:16px;
  padding: 7px 15px;
  font-weight:500;
  border-radius: 12px;
  background: $blue;
  display: block;
  margin: 0 auto;
  color: white;
  border:0;
  &:hover, &:active, &:visited, &:focus{
    outline: 0;
  }
  &-sm{
    font-size: 12px;
    background: grey;
    display: inline-block;
      &:hover, &:active, &:visited, &:focus{
   color:white;
  }
  }
}