.table-responsive{
       box-shadow: 0 0 20px grey !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  padding: 20px;

}
.table-responsive{
  margin:0 auto;
  box-shadow: none;
  width: 100%;
  border:0;
  table{
    width: 100%;
  }
  thead{
    border-bottom:2px solid  #007fb5;
  }
  tbody{
    font-size: 13px;
  }
  th{
    font-weight: 600;
    padding:0 20px 5px 10px;
    white-space: nowrap;
    position: relative;
  }
  td{
    padding:10px 20px 10px 10px;
    white-space: nowrap;
  }
  tbody tr:nth-child(odd){
    background-color: #eff2f3;
  }
  tbody tr:nth-child(even), th{
    background-color: white;
  }
}