.navbarTop{
  margin-bottom: 0 !important;
  position: relative;
  color:grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

box-shadow: 0 0 20px grey;
  i{
    color:grey;
  }
  &-block{
    width:100%;
    &__logout, &__user{
      text-align: center;
    }
  }

}
.user{
  color: #007fb5;
}
.navbarTopAdmin{
  box-shadow: 0 0 20px $blue;

  .container-fluid{
    position: relative;
  }
  .navbarTop-block{
   left: 0;
   a{
    padding:0 15px;
   }
  }
  .nav-position{
    position: absolute;
    right: 15px;
    .label-style{
      display: inline;
      font-weight: 600;
    }
    .input-style{
      position: relative;
      left:auto;
      margin:0 15px 0 5px;
    }
  }
}
@media(min-width: 576px){
  .navbarTop{
    align-items: auto;
    &-block{
      position: absolute;
      right: 10px;
      width: auto;

      &__logout, &__user{
        display: block;
        text-align: right;
      }
    }
    .navbarTop{
      width: calc(100% - 190px);
      float: right;
    }
  }

  .reception-page-content{
    float: left;
  }
}

@media(min-width: 768px){
  .navbarTop{
    &__user{
      float: left;
      margin-right: 20px;
    }
    &-block{
      right:50px;
      &__logout, &__user{
        display: inline;
        text-align: center;
      }

      &__user{
        margin-right: 30px;
      }
    }

  }
}
